@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-poppins {
  font-family: "Poppins", Arial, sans-serif;
  /* font-weight: 400; */
  /* font-style: normal; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  zoom: 1;
}

/* Styles label "Skills"*/
.image-container {
  position: relative;
}

.label {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.image-container:hover .label {
  display: block;
}

/* Style Navbar */
.navbar {
  background: transparent;
  backdrop-filter: blur(10px);
}

html {
  scroll-behavior: smooth;
}

.underline-nav {
  display: block;
  height: 2px;
  background-color: black;
  width: 0%;

  margin: 2px auto 0 auto;
  border-radius: 100%;
}

.nav-link:hover .underline-nav {
  width: 100%;
  background-color: #c80ec8;
}

/*PSEUDO-ELEMENT Wave*/

.wave-about {
  display: block;
  margin-left: auto;
  width: 20%;
  border-top: solid 3px #c80ec8;
  border-radius: 50%;
  height: 8px;
  rotate: -10deg;
}

.wave-form::after {
  content: "";
  position: absolute;
  width: 20%;
  border-top: solid 3px #c80ec8;
  bottom: 10px;
  border-radius: 50%;
  height: 8px;
}

.wave-services::after {
  content: "";
  position: absolute;
  width: 30%;
  border-top: solid 3px #c80ec8;
  top: 2px;
  border-radius: 50%;
  height: 8px;
}

/*Slide paragraphe */
.slide-para {
  opacity: 0;
  animation: slideparagraphe 1s ease-in-out forwards;
  animation-delay: 0.4s;
}

@keyframes slideparagraphe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Slide picture */
.slide-picture {
  opacity: 0;
  animation: slidepicture 1s ease-in-out forwards;
}

@keyframes slidepicture {
  0% {
    transform: translateX(270%) rotate(1000deg);

    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0);

    opacity: 1;
  }
}

.dark .name-gradient {
  background: linear-gradient(to right, #eeeeee 0%, #9045f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.name-gradient {
  background: linear-gradient(to right, #6015c9 0%, #d29aec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes slideNameTitle {
  0% {
    transform: translatex(-960%) rotate(-10deg);
    opacity: 0;
  }
  100% {
    transform: translatex(0) rotate(0deg);
    opacity: 1;
  }
}

.slide name-dev .dark .slide-name-dev {
  text-transform: uppercase;
  background: linear-gradient(to right, #b478f8 0%, #dacaec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.slide-name-dev {
  text-transform: uppercase;
  background: linear-gradient(to right, #6015c9 0%, #c36eeb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* scrolling text */
.scrollingText {
  opacity: 0;
}

.scrollingText.visible {
  opacity: 1;
}

/* Saturation image */
.logo-filter {
  filter: grayscale(100%);
}

/* RESPONSIVE */

@media only screen and (min-width: 447px) {
  .wave-home::after {
    left: 330px;
    top: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .wave-home::after {
    width: 16%;
    top: 38px;
  }
}

@media only screen and (min-width: 606px) {
  /* .wave-home::after {
    width: 12%;
  } */
}

@media only screen and (min-width: 769px) {
  .wave-home::after {
    width: 16%;
  }
}

@media only screen and (min-width: 771px) {
  .navbar-mobile {
    display: none;
  }
  .navSupp {
    display: none;
  }
  .chevron-slide {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  /* .wave-home::after {
    width: 10%;
  } */
}

@media only screen and (min-width: 957px) {
  /* .wave-home::after {
    width: 10%;
  } */
}

@media only screen and (min-width: 1024px) {
  .wave-home::after {
    left: 530px;
    top: 58px;
  }
}

@media only screen and (min-width: 1200px) {
  /* .wave-home::after {
    left: 510px;
    width: 14%;
    top: -2px;
  } */
}

@media only screen and (min-width: 1280px) {
  .wave-home::after {
    left: 550px;
  }
}

@media only screen and (min-width: 1400px) {
  /* .wave-home::after {
    left: 550px;
    width: 18%;
  } */
}

@media only screen and (min-width: 468px) {
  .profile-image-mobile {
    display: none;
  }
}

@media only screen and (max-width: 465px) {
  .wave-about {
    display: none;
  }
  .title-point {
    display: none;
  }
}

@media only screen and (max-width: 469px) {
  .profile-image-desktop {
    display: none;
  }
}

@media only screen and (max-width: 933px) {
  .profile-image-desktop-lg {
    display: none;
  }
}

@media only screen and (max-width: 932px) {
  .bio-part1 {
    display: flex;
  }
  .link_profile {
    display: flex;
  }
}
