@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap");

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-alice {
  font-family: "Alice", serif;
}

.font-roboto {
  font-family: "Roboto Flex", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  zoom: 1;
}

/* styles form a modifier et supprimer par la suite*/
.p {
  color: #bf1650;
  text-align: center;
}

/* Styles label "Skills"*/
.image-container {
  position: relative;
}

.label {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.image-container:hover .label {
  display: block;
}

/* Blob */
.picture {
  border-radius: 75% 25% 66% 34% / 33% 20% 80% 67%;
}

/* Style Navbar */
.navbar {
  background: transparent;
  backdrop-filter: blur(10px);
}

html {
  scroll-behavior: smooth;
}

/*Slide hello */
.slide-hello {
  animation: slideHello 500ms ease-in-out forwards;
}

@keyframes slideHello {
  0% {
    transform: translateY(-270%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*Slide paragraphe */
.slide-para {
  opacity: 0;
  animation: slideparagraphe 1s ease-in-out forwards;
  animation-delay: 0.4s;
}

@keyframes slideparagraphe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Slide picture */
.slide-picture {
  opacity: 0;
  animation: slidepicture 1s ease-in-out forwards;
}

@keyframes slidepicture {
  0% {
    transform: translateX(270%) rotate(1000deg);

    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0);

    opacity: 1;
  }
}

.slide-name span {
  display: inline-block;
  opacity: 0;
  transform: translatex(-960%) rotate(-10deg);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.slide-name span:nth-child(1) {
  animation: slideNameTitle 0.7s ease-in-out forwards;
  transition-delay: 2s;
}

.slide-name span:nth-child(n + 2) {
  animation: slideNameTitle 0.7s ease-in-out forwards;
  transition-delay: 2s;
}

@keyframes slideNameTitle {
  0% {
    transform: translatex(-960%) rotate(-10deg);
    opacity: 0;
  }
  100% {
    transform: translatex(0) rotate(0deg);
    opacity: 1;
  }
}

/*Slide name-dev */
.slide-name-dev {
  opacity: 0;
  animation: slideNameDev 1s ease-in-out forwards;
  transition-delay: 2.2s;
}

@keyframes slideNameDev {
  0% {
    transform: translateX(-160%);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

/*Slide link */
.slideLink-1 {
  opacity: 0;
  animation: slidelink 1s ease forwards;
  /* bounce 0.35s ease 1 alternate; */
  animation-delay: 1.4s;
}

.slideLink-2 {
  opacity: 0;
  animation: slidelink 1.4s ease forwards;
  /* bounce 0.35s ease 1 0s 1 normal both; */
  animation-delay: 1.4s;
}

@keyframes slidelink {
  0% {
    transform: translateY(-160%) rotate(10deg);

    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);

    opacity: 1;
  }
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

/* scrolling text */
.scrollingText {
  opacity: 0;
}

.scrollingText.visible {
  opacity: 1;
}

/* Saturation image */
.logo-filter {
  filter: grayscale(100%);
}

/* RESPONSIVE */
@media only screen and (max-width: 770px) {
  .navbar {
    display: none;
  }

  .dialog {
    /* position: fixed; */

    left: 50%;
    top: 40%;
    transform: translate(-70%, -40%);
    width: 70%;
    max-width: none;
  }
}

@media only screen and (min-width: 771px) {
  .navbar-mobile {
    display: none;
  }
  .navSupp {
    display: none;
  }
  .chevron-slide {
    display: none;
  }
}

@media only screen and (min-width: 468px) {
  .profile-image-mobile {
    display: none;
  }
}

@media only screen and (max-width: 469px) {
  .profile-image-desktop {
    display: none;
  }
}

@media only screen and (max-width: 933px) {
  .profile-image-desktop-lg {
    display: none;
  }
}

@media only screen and (max-width: 932px) {
  .bio-part1 {
    display: flex;
  }
}
